<div role="tabpanel" class="tab-pane passit-create-panel row">
    <div id="search-form" class="col-xs-12">
        <ul class="nav nav-pills">
            <li role="presentation"><a [routerLink]="['./Site']" aria-controls="create-password" role="tab">Password</a></li>
            <li role="presentation"><a [routerLink]="['./Note']" aria-controls="create-secure-note" role="tab">Secure Note</a></li>
        </ul>
        <div class="tab-content">
            <router-outlet></router-outlet>            
        </div>
    <div>
</div>
