<div role="tabpanel" class="tab-pane passit-search-panel row">
    <div id="search-form" class="col-xs-12">
        <form [ngFormModel]="searchSecret" (ngSubmit)="search()">
            <div class="form-group">
                <label for="search-box" class="sr-only">Search Secrets</label>
                <input (keyup)="search()" ngControl="search" type="text" class="form-control input-lg" id="search-box" placeholder="Type to search all secrets" autocomplete="off">
            </div>
        </form>
    </div>
</div>
