<div class="row">
    <div class="col-xs-12">
        <ul class="nav nav-tabs row">
            <li role="presentation"><a [routerLink]="['./Search']" aria-controls="search" role="tab">Search</a></li>
            <li role="presentation" class="pull-right"><a [routerLink]="['./Create']" aria-controls="create" role="tab">Create</a></li>
        </ul>
        <div class="tab-content">            
            <router-outlet></router-outlet>
        </div>
        <div id="site-list">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="#group of groups; trackBy:trackByGroup">
                    <group-item [item]="group"></group-item>                                        
                </li>
            </ul>
        </div>
    </div>
</div>
