<h1 class="text-center">Login</h1>
<form [ngFormModel]="formGroup" (ngSubmit)="login()">
    <div class="form-group">
        <input type="email" class="form-control" ngControl="email" placeholder="{{ placeholder.email }}" />
    </div>
    <div class="form-group">
        <input type="password" class="form-control" ngControl="password" placeholder="{{ placeholder.password }}" />
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" ngControl="rememberMe" /> Remember Me            
        </label>
    </div>
    <div class="form-group text-center">
        <button class="btn btn-default" type="submit" [disabled]="!formGroup.valid">Log In</button>
    </div>
</form>
