<div class="row">
    <div class="col-xs-12">
        <ul class="nav nav-tabs row" role="tablist">
            <li role="presentation"><a [routerLink]="['./Search']" aria-controls="search" role="tab">Search</a></li>
            <li role="presentation"><a [routerLink]="['./Browse']" aria-controls="browse" role="tab">Browse</a></li>
            <li role="presentation" class="pull-right"><a [routerLink]="['./Create']" aria-controls="create" role="tab">Create</a></li>
        </ul>
        <div class="tab-content">
            <router-outlet></router-outlet>            
        </div>
        <div id="site-list">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="#secret of secrets; trackBy:trackBySecret">
                    <secret-site *ngIf="secret.type === 'website'"  [item]="secret"></secret-site>
                </li>
            </ul>
        </div>
    </div>
</div>
