
<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <h1 class="h3 small-form-header">Sign Up for Passit</h1>
        <form [ngFormModel]="formGroup" (ngSubmit)="signup()">
          <div class="form-group">
            <input type="email" class="form-control" ngControl="email" placeholder="{{ placeholder.email }}" />
          </div>
          <div class="form-group">
            <input type="password" class="form-control" ngControl="password" placeholder="{{ placeholder.password }}" />
          </div>
          <div class="form-group text-center">
            <button class="btn btn-primary btn-block" type="submit" [disabled]="!formGroup.valid">Sign Up</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>