<div class="row site-list-item-header">
    <div class="col-xs-12">
        <h3><a role="button" data-toggle="collapse" href="#{{ item.name }}-{{ item.id }}">{{ item.name }}</a></h3>
    </div>
</div>
<div class="row collapse passit-manage" id="{{ item.name }}-{{ item.id }}">
    <form [ngFormModel]="formGroup">
        <div class="col-sm-6">
            <div class="form-group">
                <label>Group Name</label>
                <input ngControl="name" type="text" class="form-control" placeholder="Group Name"/>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label>Slug</label>
                <input ngControl="slug" type="text" class="form-control" placeholder="Slug"/>
            </div>
        </div>
        <div class="col-sm-12">
            <label>Member(s)</label><br />
            <div class="passit-manage-groups" style="width: 100%;">
                <select multiple id="mulit-{{ item.name }}-{{ item.id }}" class="group-members-multiselect" style="width: 100%;">
                    <option *ngFor="#member of item.members" selected="selected">{{ member }}</option>
                </select>
            </div>
        </div>
    </form>
</div>
