<div class="row site-list-item-header">
    <div class="col-xs-12">
        <h3><a data-toggle="collapse" href="#{{ item.name }}-{{ item.id }}" role="button">{{ item.name }}</a></h3>
    </div>
</div>
<div class="row collapse passit-manage" id="{{ item.name }}-{{ item.id }}">
    <form>
        <div class="col-sm-6">
            <div class="form-group">
                <label>Site Name</label>
                <input type="text" class="form-control" placeholder="Site Name" />
            </div>
            <div class="form-group">
                <label>URL</label>
                <div class="input-group">

                </div>
            </div>
        </div>
    </form>
</div>
