<div role="tabpanel" class="tab-pane passit-create-panel row" id="create">
    <div id="search-form" class="col-xs-12">
        <form [ngFormModel]="createGroup" (ngSubmit)="createNewGroup()">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="passit-manage-__name">Group Name</label>
                    <input ngControl="name" type="text" class="form-control" id="passit-manage-__name" placeholder="Group Name" />
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="passit-manage-__slug">Slug<span *ngIf="!newGroupSlugControl.valid"> [Not Required]</span></label>
                    <input ngControl="slug" type="text" class="form-control" id="passit-manage-__slug" placeholder="Login URL" />
                </div>
            </div>
            <div class="col-sm-12">
                <label>Member(s)</label><br />
                <div class="passit-manage-groups" id="passit-manage-groups-" style="width: 100%;">
                    <input ngControl="members" type="text" class="form-control" id="passit-manage-__members" placeholder="Members Seprated By Comma" />
                </div>
            </div>
            <div class="col-xs-12">
                <br />
                <button type="submit" [disabled]="!newGroupNameControl.valid" class="btn btn-info pull-right">Create Group</button>
                <a (click)="clearNewGroup()" class="btn btn-link pull-right"><span class="text-danger">Cancel</span></a>
            </div>
        </form>
    </div>
</div>
