<div role="tabpanel" class="tab-pane passit-search-panel row">
    <div id="search-form" class="col-xs-12">
        <form [ngFormModel]="searchGroup" (ngSubmit)="search()">
            <div class="form-group">
                <label for="search-box" class="sr-only">Search Groups</label>
                <input (keyup)="search()" ngControl="search" type="text" class="form-control input-lg" id="search-box" placeholder="Type to search all groups" autocomplete="off">
            </div>
        </form>
    </div>
</div>
