<div role="tabpanel" class="tab-pane passit-create-secure-note-panel row">
    <div class="col-xs-12">
        <div class="form-group">
            <label for="passit-manage-__name">Title</label>
            <input type="text" class="form-control" id="passit-manage-__name" placeholder="Site Name" />
        </div>
        <div class="form-group">
            <label for="passit-manage-__name">Note</label>
            <textarea class="form-control" id="passit-manage-__name"></textarea>
        </div>
    </div>
    <div class="col-xs-12">
        <br />
        <button type="submit" class="btn btn-info pull-right">Create Secured Note</button>
        <a href="javascript:void(0);" class="btn btn-link pull-right"><span class="text-danger">Cancel</span></a>
    </div>
</div>
