<div role="tabpanel" class="tab-pane passit-create-password-panel row">
    <form [ngFormModel]="createSiteSecret" (ngSubmit)="createNewSiteSecret()">
        <h3>New Password</h3>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="passit-manage-__name">Site Name</label>
                    <input ngControl="name" type="text" class="form-control" id="passit-manage-__name" placeholder="Site Name" />
                </div>
                <div class="form-group">
                    <label for="passit-manage-__url">URL<span *ngIf="!urlControl.valid"> [Enter A Valid Url]</span></label>
                    <input ngControl="url" type="url" class="form-control" id="passit-manage-__url" placeholder="Login URL" />
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="passit-manage-__username">Username</label>
                    <input type="text" ngControl="userName" class="form-control" id="passit-manage-__username" placeholder="Username" />
                </div>
                <div class="form-group">
                    <label for="passit-manage-__password">Password</label>
                    <div class="input-group">
                        <input type="password" ngControl="password" class="form-control" id="passit-manage-__password" placeholder="Password" />
                        <span class="input-group-btn">
                            <a href="javascript:void(0);" class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                <span class="sr-only">View Password</span>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <label>Group(s)</label><br />
                <div class="passit-manage-groups" id="passit-manage-groups-" style="width: 100%;">
                    <select multiple class="foo" style="width: 100%;">
                        <option *ngFor="#group of groups" [value]="group.id">{{ group.name }}</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-12">
                <br />
                <button type="submit" class="btn btn-info pull-right" [disabled]="!createSiteSecret.valid">Create Secret</button>
                <a (click)="clearNewSecret()" class="btn btn-link pull-right"><span class="text-danger">Cancel</span></a>
            </div>
        </div>
    </form>
</div>
